---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Bagde from "../components/Bagde.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHub from "../components/icons/GitHub.astro";
import Experience from "../components/Experience.astro";
import MailIcon from "../components/icons/Mail.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<SectionContainer class="py-44 pb-20">
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10"
			>
				Hola, soy Joan Garcia <a
					href="https://www.linkedin.com/in/joan-garcia-80b899264/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Bagde>Disponible para trabajar</Bagde>
				</a>
			</h1>
			<h2 class="text-xl text-white opacity-80 text-wrap">
				Estoy en constante aprendizaje y me encanta compartir lo que
				aprendo. En busca de experiencias que me permitan crecer y
				aportar valor. Desarrolador de Software, apasionado por la
				tecnología y la programación. Girona, España
			</h2>
			<nav class="flex gap-x-4 mt-8">
				<SocialPill
					href="https://www.linkedin.com/in/joan-garcia-80b899264/"
				>
					<LinkedIn class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/JoanGarciaa">
					<GitHub class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:joangsmassanet@gmail.com">
					<MailIcon class="size-4" />
					Contáctame
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-xl font-semibold mb-6 flex gap-x-2 items-center">
				<Briefcase class="size-6" />
				Experienca laboral
			</h2>

			<Experience />
		</SectionContainer>
	</main>
</Layout>
