---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Bagde from "../components/Bagde.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHub from "../components/icons/GitHub.astro";
import Experience from "../components/Experience.astro";
import MailIcon from "../components/icons/Mail.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Projects from "../components/Projects.astro";
import CodeIcon from "../components/icons/Code.astro";
---

<Layout title="Welcome to Astro.">
	<main class="px-4">
		<SectionContainer class="py-44 pb-20">
			<h1
				class=" text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hola, soy Joan Garcia <a
					href="https://www.linkedin.com/in/joan-garcia-80b899264/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Bagde>Disponible para trabajar</Bagde>
				</a>
			</h1>
			<h2
				class="text-xl lg:text-xl opacity-80 text-wrap max-w-[700px]"
			>
				Estoy en constante aprendizaje y me encanta compartir lo que
				aprendo. En busca de experiencias que me permitan crecer y
				aportar valor. Desarrolador de Software, apasionado por la
				tecnología y la programación. Girona, España
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill
					href="https://www.linkedin.com/in/joan-garcia-80b899264/"
				>
					<LinkedIn class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/JoanGarciaa">
					<GitHub class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:joangsmassanet@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					Contáctame
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2
				class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
			>
				<Briefcase class="size-8" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
				class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
			>
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
