<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Joan García y tengo 20 años. Empecé en la
            programación hace 3 años cuando empecé a estudiar java. Actualmente estoy <strong
                >estudiando y en busqueda de empleo para seguir formandome y aprendiendo</strong
            >.
        </p>

        <p>
            Los estudios que llevo hasta ahora <strong
                >són el grado medio de informática y el grado superior de programacion DAM (Desarrollo de aplicaciones multiplataforma)</strong
            >. Actualmente sigo estudiando para seguir aprendiendo y estoy cursando un grado de especialización en inteligéncia artificial y big data.
        </p>

        <p>
            Mi objetivo es poder trabajar en una empresa donde pueda seguir aprendiendo y formandome en el mundo de la programación. Seguir escalando
            en mi carrera profesional y poder llegar a ser un buen programador. 
        </p>
    </div>

    <img
        width="200"
        height="200"
        src="/assets/images/me.jpg"
        alt="Joan García"
        class="order-1 object-cover w-48 h-48 p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
