---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Abril 2023",
    title: "Flutter Developer",
    company: "Rabbit Rally",
    description:
      "Desarrollo de aplicación móvil para el cronometraje y la geolocalización de los participantes. Integracion de Firebase para el almacenamiento de datos y notificaciones push. Control de estado del dispositivo y librería para la localización y tramo de los participantes.",
  },
  {
    date: "Septiembre 2022",
    title: "Técnico Informático",
    company: "IES Maçanet",
    description:
      "Técnico informático en el IES Maçanet de la Selva. Mantenimiento de equipos, instalación de software y hardware, soporte a profesores y alumnos, administración de servidores y redes.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>