---
import Languages from "./Languages.astro";
---

<article
    class="relative rounded-2xl p-6 dark:border dark:border-dark-900 bg-gradient-to-r dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false"
>
    <div
        class="pointer-events-none absolute -inset-px opacity-0 transition duration-300"
        style="opacity: 0; background: radial-gradient(600px at 315px 105.016px, rgba(255, 182, 255, 0.1), transparent 40%);"
    >
    </div>
    <h3
        class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
    >
        FrontEnd
    </h3>
    <ul class="grid grid-cols-3 gap-4">
        <Languages category="frontend">FrontEnd</Languages>
    </ul>
</article>

<article
    class="relative rounded-2xl p-6 dark:border dark:border-dark-900 bg-gradient-to-r dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false"
>
    <div
        class="pointer-events-none absolute -inset-px opacity-0 transition duration-300"
        style="opacity: 0; background: radial-gradient(600px at 315px 105.016px, rgba(255, 182, 255, 0.1), transparent 40%);"
    >
    </div>
    <h3
        class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#a5e06d] to-[#0c3a02] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
    >
        BackEnd
    </h3>
    <ul class="grid grid-cols-3 gap-4">
        <Languages category="backend">BackEnd</Languages>
    </ul>
</article>

<article
    class="relative rounded-2xl p-6 dark:border dark:border-dark-900 bg-gradient-to-r dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false"
>
    <div
        class="pointer-events-none absolute -inset-px opacity-0 transition duration-300"
        style="opacity: 0; background: radial-gradient(600px at 315px 105.016px, rgba(255, 182, 255, 0.1), transparent 40%);"
    >
    </div>
    <h3
        class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#46478d] to-[#3528eb] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
    >
        Aprendiendo
    </h3>
    <ul class="grid grid-cols-3 gap-4">
        <Languages category="aprendiendo">Aprendiendo</Languages>
    </ul>
</article>

<article
    class="relative rounded-2xl p-6 dark:border dark:border-dark-900 bg-gradient-to-r dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false"
>
    <div
        class="pointer-events-none absolute -inset-px opacity-0 transition duration-300"
        style="opacity: 0; background: radial-gradient(600px at 315px 105.016px, rgba(255, 182, 255, 0.1), transparent 40%);"
    >
    </div>
    <h3
        class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#eb8c67] to-[#a83e24] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
    >
        Herramientas
    </h3>
    <ul class="grid grid-cols-3 gap-4">
        <Languages category="herramientas">Herramientas</Languages>
    </ul>
</article>
